<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.os.auth.mapper.AccountMapper">

  <insert id="save" parameterType="Account">  
    INSERT INTO account (name, city_id, province_id, gender) VALUES (#{name}, #{cityId}, #{provinceId}, #{gender})
  </insert>

</mapper>