<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.os.auth.mapper.AuthMapper">

	<insert id="save" parameterType="Auth">  
		INSERT INTO auth (phone, password) VALUES (#{phone}, #{password})
	</insert>
  
	<select id="getAuthByPhone" parameterType="String" resultType="Auth">  
		select * from auth where phone = #{phone} group by phone
	</select>

	<select id="getAuth" resultType="Auth">  
    	select * from auth where phone = #{phone} and password = #{password} group by phone
  	</select>
</mapper>