<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.os.db.mapper.OnlineStarMapper">

  <cache />

  <select id="getArticleByDocid" parameterType="string" resultType="OnlineStar">
    SELECT
          *
    FROM wx_article
    WHERE doc_id = #{docId}
  </select>
  
  <select id="getArticles" parameterType="string" resultType="OnlineStar">
    SELECT a.title, a.content,  a.source_name as sourcename, b.img as imglink
    FROM wx_article a LEFT JOIN wx_gzh b ON a.gzh = b.en_name 
    GROUP BY b.en_name LIMIT 10
  </select>

  <insert id="save" parameterType="OnlineStar">
    INSERT INTO onlinestar
      (name, mobile, qq, platform)
    VALUES
      (#{name}, #{mobile}, #{qq}, #{platform})
  </insert>

</mapper>