<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.os.db.mapper.PlayerMapper">

  <cache />
  
  <insert id="addPlayer" parameterType="Player" keyProperty="id" useGeneratedKeys="true">  
    INSERT INTO wx_player (name, report_ip, tags, create_time, last_change_time)  
    VALUES   
    (#{name}, #{reportIp}, #{tags}, now(), now())
  </insert>
  
	<select id="getByName" parameterType="String" resultType="Player">
		select * from wx_player where name = #{name}
	</select>
	
	<select id="getTagsByPlayerId" parameterType="int" resultType="Tag">
		select a.tag_id as id, b.name, a.count from wx_player_tag a, wx_tag b 
		where a.player_id = #{playerId} and a.tag_id = b.id
	</select>
	
	<insert id="saveTag" parameterType="String">
	  	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id"> 
	        SELECT LAST_INSERT_ID() AS ID   
	    </selectKey>
	    INSERT INTO wx_tag (name, create_time)  
	    VALUES   
	    (#{name}, now())
	  </insert>
	  
	<select id="getTagByName" parameterType="String" resultType="Tag">
		select * from wx_tag where name = #{name}
	</select>
	
	 <insert id="savePlayerTag">
    	INSERT INTO wx_player_tag (player_id, tag_id, report_ip, count, create_time)  
    	VALUES   
    	(#{playerId}, #{tagId}, #{reportIp}, 1, now())
 	 </insert>
 	 
 	 <select id="getPlayerTag" resultType="int">
		select count(*) from wx_player_tag where player_id = #{playerId} and tag_id = #{tagId}
	</select>
	
	<update id="updatePlayerTagCount">
		update wx_player_tag set count = count + 1 where player_id = #{playerId} and tag_id = #{tagId}
	</update>
 	 
</mapper>