<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.os.db.mapper.UserMapper">

  <cache />
  
  <insert id="batchAddUser" parameterType="java.util.List">  
    INSERT INTO wx_user (subscribe, open_id, nick_name, sex, language, city, province, country, head_img_url, subscribe_time, remark, last_access_time)  
    VALUES   
    <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.subscribe},#{item.openId},#{item.nickName},#{item.sex},#{item.language},#{item.city},#{item.province},#{item.country},#{item.headImgUrl},#{item.subscribeTime},#{item.remark},#{item.lastAccessTime})  
    </foreach>  
  </insert>
  
	<update id="updateUserLocation" parameterType="User">
		update wx_user set
			latitude = #{latitude},
			longitude = #{longitude},
			last_access_time = now()
		where open_id = #{openId}
	</update>
	
	<select id="getByOpenId" parameterType="User">
		select open_id from wx_user where open_id = #{openId}
	</select>
</mapper>